# Node modules
node_modules/

# Logs
logs
*.log

# Environment variables
.env

# TypeScript outputs
dist/
build/

# Temporary files
*.tmp
*.swp

# MacOS
.DS_Store

# IDE/Editor specific files
.idea/
.vscode/